{{!-- systems/bizarre-adventures-d6/templates/partials/actor-class.hbs --}}
{{!-- Renders cost and extra fields for actor types --}}
{{#if extraConfig}}
  {{#if showCost}}
  <div class="info-row">
    <label>Cost:</label>
    <input type="text"
           name="system.bio.cost"
           value="{{system.bio.cost}}"
           placeholder="{{defaultCost}}">
  </div>
  {{/if}}
  {{!-- Render any additional fields defined by the selected type's config --}}
  {{#if extraConfig.fields}}
    {{#each extraConfig.fields}}
      <div class="info-row">
        <label>{{this.label}}:</label>
        {{#ifEquals this.type "textarea"}}
          <textarea data-noautosubmit="true" name="system.bio.{{this.name}}" rows="{{this.rows}}">{{lookup ../system.bio this.name}}</textarea>
        {{else ifEquals this.type "select"}}
          <select data-noautosubmit="true" name="system.bio.{{this.name}}">
            {{#each this.options}}
              <option value="{{this.value}}" {{#ifEquals (lookup ../../system.bio ../this.name) this.value}}selected{{/ifEquals}}>{{this.label}}</option>
            {{/each}}
          </select>
        {{else}}
          {{!-- default input (text/number/etc) --}}
          <input
            data-noautosubmit="true"
            type="{{this.type}}"
            name="system.bio.{{this.name}}"
            value="{{lookup ../system.bio this.name}}"
            {{#if this.placeholder}}placeholder="{{this.placeholder}}"{{/if}}
            {{#if this.rows}}rows="{{this.rows}}"{{/if}}
            {{#if this.min}}min="{{this.min}}"{{/if}}
            {{#if this.max}}max="{{this.max}}"{{/if}}
          />
        {{/ifEquals}}
      </div>
    {{/each}}
  {{/if}}
{{/if}}