<div class="jojo-type-pattern-layer" aria-hidden="true"></div>
<div class="jojo-sheet-spotlights" aria-hidden="true">
  <div class="jojo-spotlight jojo-spotlight--bottom-left"><div class="jojo-spotlight__beam"></div></div>
  <div class="jojo-spotlight jojo-spotlight--bottom-right"><div class="jojo-spotlight__beam"></div></div>
  <div class="jojo-spotlight jojo-spotlight--right-mid"><div class="jojo-spotlight__beam"></div></div>
  <div class="jojo-spotlight jojo-spotlight--top-mid"><div class="jojo-spotlight__beam"></div></div>
</div>
<div class="jojo-portrait-ribbons" aria-hidden="true">
  <div class="jojo-portrait-ribbon jojo-portrait-ribbon--horizontal">
    <div class="jojo-portrait-scroll">
      <span>{{actor.type}} {{#if system.bio.type}} • {{system.bio.type}}{{/if}} • {{actor.name}}</span>
      <span>{{actor.type}} {{#if system.bio.type}} • {{system.bio.type}}{{/if}} • {{actor.name}}</span>
    </div>
  </div>
  <div class="jojo-portrait-ribbon jojo-portrait-ribbon--vertical">
    <div class="jojo-portrait-scroll">
      <span>{{actor.type}} {{#if system.bio.type}} • {{system.bio.type}}{{/if}} • {{actor.name}}</span>
      <span>{{actor.type}} {{#if system.bio.type}} • {{system.bio.type}}{{/if}} • {{actor.name}}</span>
    </div>
  </div>
</div>
