<div class="action-class">
  <div class="pair-control-row">
    <div class="pair-advantage-control">
      <span class="select-stat pair-advantage-btn prepared-advantage-right" role="button" tabindex="0" data-action="set-advantage" data-quadrant="{{pairQuadrantNum}}" data-tooltip="Click to set Advantage for this pair">
        Advantage: {{pairAdvantage}}
      </span>
    </div>
    {{#if showReckless}}
      <div class="pair-reckless-control">
        <span class="select-stat pair-reckless-btn {{#if pairReckless}}is-active{{/if}}" role="button" tabindex="0" data-action="set-reckless" data-quadrant="{{pairQuadrantNum}}" data-tooltip="Toggle Reckless for this reaction pair">
          Reckless: {{#if pairReckless}}On{{else}}Off{{/if}}
        </span>
      </div>
    {{/if}}
  </div>
  {{#each quadrants}}
    <div class="action-header">{{label}}</div>
    {{> roll-quadrant this}}
    {{#unless @last}}
      <div class="quadrant-divider" style="border-top:1px solid #a1a1a1;"></div>
    {{/unless}}
  {{/each}}
  {{#if showResolve}}
    {{#if (getProperty quadrants "0.allPrepared")}}
        {{#if isResolved}}
            <div class="contest-resolve">
            <span class="select-stat is-disabled {{resolveStateClass}}" data-tooltip="{{resolveTooltip}}">{{resolveLabel}}</span>
            </div>
        {{else}}
            <div class="contest-resolve">
                <button class="select-stat" data-action="resolve" data-tooltip="{{resolveTooltip}}">Resolve</button>
            </div>
        {{/if}}
    {{/if}}
  {{/if}}
</div>