<form class="sheet hit-item-sheet" autocomplete="off">
  <header class="sheet-header">
    <h1>{{item.name}}</h1>
  </header>

  <div class="sheet-body">
    <div class="form-group">
      <label for="hit-name">Name:</label>
      <input type="text" id="hit-name" name="name" value="{{item.name}}" />
    </div>

    <div class="form-group">
      <label for="hit-weight">Weight:</label>
      <input type="number" id="hit-weight" name="system.weight" value="{{item.system.weight}}" min="0" />
    </div>

    <div class="form-group">
      <label for="hit-quantity">Quantity:</label>
      <input type="number" id="hit-quantity" name="system.quantity" value="{{item.system.quantity}}" min="0" />
    </div>

    <div class="form-group">
      <label for="hit-description">Description:</label>
      <textarea id="hit-description" name="system.description" rows="4">{{item.system.description}}</textarea>
    </div>
  </div>
</form>